.vagrant/
*.log
join-command.sh

docs/
scripts/
work/
workshop/
.vscode/
hello-world/
download/
deep-dive
vault-init.json
test

# Ansible Vault password files
.ansible_vault_pass
*_vault_pass
ansible_vault_pass*