apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  vaultAuthRef: vault-auth
  mount: secret
  type: kv-v2
  path: {{ item.vault_path }}
  refreshAfter: {{ item.refresh_after }}
  
  destination:
    name: {{ item.name }}
    create: true
    type: {{ item.secret_type }}
    
    transformation:
      templates:
        .dockerconfigjson:
          text: |
{% raw %}
{{ item.transformation_template }}
{% endraw %}
