[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
remote_user = vagrant
private_key_file = /home/chameau/k8s/.vagrant/machines/master/virtualbox/private_key,/home/chameau/k8s/.vagrant/machines/node1/virtualbox/private_key,/home/chameau/k8s/.vagrant/machines/node2/virtualbox/private_key,/home/chameau/k8s/.vagrant/machines/tools/virtualbox/private_key
roles_path = roles
become = True
become_method = sudo
become_user = root
interpreter_python = /usr/bin/python3
vault_password_file = ~/.ansible_vault_pass

[privilege_escalation]
become_method = sudo
become_user = root
